<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Trabalho Escolar - Página Inicial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    
    <div class="content">
        <h1>Bem-vindo ao Trabalho Escolar</h1>
        <div class="intro-container">
            <a href="{{ url_for('modulos') }}" class="button">Módulos</a>
            <a href="{{ url_for('seguranca') }}" class="button">Segurança</a>
        </div>
    </div>
</body>

</html>