{% extends "layout.html" %}

{% block title %}Segurança nos websites{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo de Headers de Segurança</title>
    <link rel="stylesheet" href="styles.css"> <!-- Conectar com o arquivo CSS externo -->
</head>

<body>

    <div class="container-principal">
        <div class="container">
            <h1>Headers de Segurança</h1>
            <p>Os headers de segurança são como pequenas "instruções de segurança" que o servidor envia ao navegador
                para manter
                a página segura. <br>Eles dizem ao navegador o que ele pode ou não pode fazer com o conteúdo da página.
                É como se o
                servidor dissesse: "Aqui estão algumas regras de segurança que deves seguir."</p>

            <h2>Por que são importantes?</h2>
            <p>Esses headers ajudam a bloquear certos tipos de ataques. Por exemplo:</p>
            <ul>
                <li>Eles impedem que arquivos enganem o navegador para se passar por outro tipo de arquivo (como tentar
                    fazer um
                    arquivo de texto agir como um código malicioso).</li>
                <li>Eles evitam que o navegador carregue conteúdo de sites desconhecidos, o que pode ser perigoso.</li>
            </ul>

            <h2>Como o Flask ajuda?</h2>
            <p>No Flask, nós podemos configurar esses headers de segurança. Um exemplo é o header
                <code>X-Content-Type-Options: nosniff</code>. Esse header impede que o navegador tente "adivinhar" o que
                é um
                arquivo. Isso é útil, porque, se o navegador "adivinha" errado, um arquivo inofensivo pode acabar sendo
                interpretado de forma maliciosa.
            </p>
        </div>
    </div>

</body>

</html>
{% endblock %}